.Login {
  background: var(--purple);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
}

.Login nav {
  display: flex;
}

.Login nav span {
  margin-left: auto;
  font-weight: 600;
  color: var(--lighter-purple);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Login nav span a {
  text-decoration: none;
  color: var(--white);
  padding-block: 0.5rem;
}

.Login .heading {
  text-align: center;
  margin-top: auto;
}

.Login .heading h1 {
  line-height: 115%;
  font-weight: 700;
}

.Login .heading p {
  width: 100%;
  color: var(--lighter-purple);
  font-weight: 500;
  font-size: 0.9rem;
  display: block;
  margin-block: 1rem 2rem;
}

.Login .buttons {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.Login .buttons button {
  display: flex;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 800;
  padding: 0.9rem;
  border-radius: 6rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
}

.Login .buttons button span {
  flex: 1;
}

.Login .buttons button svg {
  display: flex;
  margin-left: 1rem;
}

.Login footer .swipe-bar {
  height: 0.45rem;
  width: 9rem;
  border-radius: 999px;
  background: var(--white);
  margin: auto;
}

@keyframes OpacityIn {
  from {
    opacity: 0;
  }
}
